<h1>Hello {{ userName }}!</h1>

<p>
    You was register on the system by admin.
    Your login information:
    <b>Name:</b> {{ userName }} <br />
    <b>Email:</b> {{ userEmail }} <br />
    <b>Password:</b> {{ temporaryPassword }} <br />
    Please login after verification your email and <b>change your password</b> for security! <br><br>
</p>

<p>
    Cheers!
</p>
